/* src/components/BookSearch.css */
.book-search {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.book-search input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.book-search p {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.book-search h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
